{{#partial "contenido" }}
    <div class="table-responsive">
        <h3>Comunidad: {{comunidad.nombre}}</h3>
        {{#if mensaje}}
        <h5>{{mensaje}}</h5>
        {{/if}}
        <h4>Datos generales</h4>
        <table class="table table-striped table-hover mt-3">
            <tr>
                <th>Nombre</th>
                <th>Cant. Miembros</th>
                <th>Confiabilidad</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{comunidad.nombre}}</td>
                    <td>{{comunidad.cantMiembros}}</td>
                    <td>{{comunidad.confiabilidad}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Miembros administradores</h4>
        <table class="table table-striped table-hover mt-3">
            <tr>
                <th>Nombre</th>
                <th>Confiabilidad</th>
                <th>Acciones</th>
            </tr>
            <tbody>
            {{#each comunidad.administradores}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.confiabilidad}}</td>
                    <td>
                        <a class="btn btn-secondary" href="/comunidades/{{comunidad.id}}/quitar-administrador/{{this.id}}">Quitar Admin</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <h4>Administrar miembros</h4>
        <table class="table mt-3">
            <tr>
                <th>Nombre</th>
                <th>Confiabilidad</th>
                <th>Acciones</th>
            </tr>
            <tbody>
            {{#each comunidad.miembros}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.confiabilidad}}</td>
                    <td>
                          <a class="btn btn-secondary" href="/comunidades/{{comunidad.id}}/eliminar/{{this.id}}">Eliminar</a>
                        {{#if this.esAdminDe comunidad}}
                         <p>Es admin</p>
                        {{else}}
                          <a class="btn btn-secondary" href="/comunidades/{{comunidad.id}}/hacer-administrador/{{this.id}}">Hacer administrador</a>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <h4>Aceptar nuevos miembros</h4>
        <table class="table table-striped table-hover">
            <tr>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            <tbody>
            {{#each comunidad.solicitudes}}
                <tr>
                    <td>{{this.email}}</td>
                    <td>
                        <a class="btn btn-secondary" href="/comunidades/{{comunidad.id}}/aceptar/{{this.id}}">Aceptar</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}
{{> templates/base }}